name: Run Python Tests on coffeetime

on: 
  push:  
  pull_request:  

jobs:
  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: playground/coffeetime

    steps:
      - name: Repository auschecken
        uses: actions/checkout@v4

      - name: Installiere Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'  

      - name: Abhängigkeiten installieren
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Führe den Test Runner aus
        run: python playground/coffeetime/testrunner.py && echo $?
